---
interface Props {
	title: string;
	company: string;
	employmentType: string;
	startDate: Date;
	endDate: Date;
	bulletPoints: string[];
}

const { title, company, employmentType, startDate, endDate, bulletPoints } =
	Astro.props;
---

<article class="experience-item mb-8">
	<h2 class="text-2xl sm:text-3xl font-bold">{title}</h2>
	<p class="text-lg sm:text-xl mt-2">
		{company} | {startDate.toLocaleDateString()} - {endDate.toLocaleDateString()}
	</p>
	<p class="text-lg sm:text-xl mt-2">{employmentType}</p>
	<ul
		class="list-disc list-inside mt-4 text-base sm:text-lg leading-relaxed text-gray-300"
	>
		{bulletPoints.map((point) => <li class="mt-3">{point}</li>)}
	</ul>
</article>

<style>
	.experience-item {
		background-color: rgba(31, 41, 55, 0.8);
		padding: 1.5rem;
		border-radius: 0.5rem;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}
	.experience-item h2 {
		color: #41ff00;
		text-shadow: 0 0 2px #41ff00;
	}
	.experience-item p {
		color: #41ff00;
		text-shadow: 0 0 3px #41ff00;
	}
	.experience-item li {
		color: #e5e7eb;
		text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
	}
</style>
