---
import axios from "axios";
import ExperienceSection from "../components/ExperienceSection.astro";
import Layout from "../layouts/Layout.astro";
import type { Experience } from "../models/experience";

const experienceReq = await axios.get("http://localhost:3000/experience");
const aboutData: Experience[] = experienceReq.data;
---

<Layout title="Experience - Siddharth Rao's Portfolio">
	<main
		class="flex flex-col items-start justify-start pt-32 p-12 max-w-4xl mx-auto"
	>
		<h1 class="title text-5xl font-extrabold tracking-wide">EXPERIENCE</h1>
		<section class="mt-12">
			{
				aboutData.map((experience) => {
					const formattedStartDate = new Date(
						experience.startDate,
					).toLocaleDateString("en-US", {
						year: "numeric",
						month: "long",
					});

					const formattedEndDate = experience.endDate
						? new Date(experience.endDate).toLocaleDateString("en-US", {
								year: "numeric",
								month: "long",
							})
						: "Present";

					return (
						<ExperienceSection
							title={experience.title}
							company={experience.company}
							employmentType={experience.employmentType}
							startDate={formattedStartDate}
							endDate={formattedEndDate}
							bulletPoints={experience.bulletPoints}
						/>
					);
				})
			}
		</section>
	</main>

	<style>
		.title {
			color: #e5e7eb;
			text-shadow:
				0 0 4px rgba(255, 255, 255, 0.4),
				0 0 8px rgba(255, 255, 255, 0.2);
		}
	</style>
</Layout>
